.wallet {
  --background: linear-gradient(180deg, #2e995c 0%, #30764f 100%);
  color: #fff;
  margin-top: 1%;
  grid-row: 1;
  grid-column: 3;
  width: auto;
  height: 30px;
}
.amount {
  color: #000;
  font-family: poppins;
  line-height: normal;
  font-style: normal;
  /* margin-top: 1%; */
  font-size: 25px;
  /* font-weight: 700; */
}
.balance {
  color: #000;
  font-family: poppins;
  line-height: normal;
  font-style: normal;
  /* font-weight: 700; */
}
.balance_payment {
  color: #000;
  font-family: poppins;
  line-height: normal;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}
.payment_img {
  height: 25px;
  width: 25px;
  margin-top: 6px;
}
.payment_rupee {
  height: 25px;
  width: 25px;
  text-align: left;
  margin-top: 8px;
}
.py_amount {
  color: #000;
  font-family: poppins;
  line-height: normal;
  font-style: normal;
  font-size: 30px;
  font-weight: 800;
  text-align: right;
  margin-top: 15px;
  padding-top: 15px;
}
.datetime {
  margin-left: 10px;
}

.balance_seeall {
  color: #2e995c;
  font-family: poppins;
  line-height: normal;
  font-style: normal;
  font-weight: 700;
  margin-left: 40%;
}

.balance_transaction {
  color: #000;
  font-family: poppins;
  line-height: normal;
  font-style: normal;
  font-weight: 700;
  margin: 3%;
  margin-left: 5%;
}

.transactionCard {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  background-color: #f5f5f5;
  padding: 20px 30px;
  border-radius: 15px;
}

.walletButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.walletButtons ion-button {
  width: 45%;
  --border-radius: 15px;
}

.walletButtons ion-button:nth-child(1) {
  --background: green;
}

.walletButtons ion-button:nth-child(2) {
  --background: white;
  --color: black;
}
